<section>
    <h2>Player Management</h2>

    <mat-list>
        <mat-list-item *ngFor="let player of players$ | async">
            <input 
                matInput 
                #nameInput 
                type="text" 
                [value]="player.name" 
                toggleReadonly [playerId]="player.id"
                readonly
                (keyup)="onKeyup($event, player)"
            /> 
            <mat-icon (click)="toggleDisable(nameInput, player)" class="mr-txt-md">edit</mat-icon>
            <mat-icon (click)="onRemovePlayerClick(player)">delete_forever</mat-icon>
        </mat-list-item>
    </mat-list>
    
    <button 
        mat-raised-button 
        color="primary"
        (click)="onAddPlayerClick()"
    >
        <mat-icon class="mr-txt-sm">person_add</mat-icon>
        Add Player
    </button>
</section>